<!DOCTYPE html>
<html >
<head>
  <meta charset="UTF-8">
  <title>DEMO</title>
  
  
  
      <link rel="stylesheet" href="../static/css/style.css">

  
</head>

<body>
<center><h1><font color="orange">Upload A File</font></h1></center>
{% for message in get_flashed_messages()%}
    {{ message | safe}}
  {% endfor %}
  <script class="jsbin" src="https://ajax.googleapis.com/ajax/libs/jquery/1/jquery.min.js"></script>
  <br><br>
<form action="classify_upload" method="post" id="upload-form" enctype="multipart/form-data">
<div class="file-upload">
  <button class="file-upload-btn" type="button" onclick="$('.file-upload-input').trigger( 'click' )">Add Image</button>

  <div class="image-upload-wrap">
    <input class="file-upload-input" type='file' name="file" id="file" onchange="readURL(this);" accept="image/*" />
    <div class="drag-text">
      <h3>Drag and drop a file or select add Image</h3>
    </div>

  </div>
  <div class="file-upload-content">
    <img class="file-upload-image" src="#" alt="your image" />
    <div class="image-title-wrap">
      <button type="button" onclick="removeUpload()" class="remove-image">Remove <span class="image-title">Uploaded Image</span></button>
    </div>
  </div>
  <br><br>
  <input class="file-upload-btn-submit" type="Submit"/>
</div>
</form>
  
    <script src="../static/js/index.js"></script>

</body>
</html>
